export(mc.create)

export(getStationaryDistribution)
S3method(getStationaryDistribution, DFmc)
S3method(getStationaryDistribution, DImc)
S3method(getStationaryDistribution, CFmc)
S3method(getStationaryDistribution, CImc)

export(getHittingTime)
S3method(getHittingTime, DFmc)
S3method(getHittingTime, DImc)
S3method(getHittingTime, CFmc)
S3method(getHittingTime, CImc)

import(markovchain)
import(lsa)

S3method(print, DFmc)
S3method(summary, DFmc)
S3method(plot, DFmc)

export(check.accessible)
export(check.irreducible)
export(getAbsorbingStates)
export(getTransientStates)
export(getCommunicatingClasses)
export(getRecurrentClasses)
export(fitDiscreteMarkovchain)
export(generateMarkovchain)
export(getConditionalDistribution)
